.vscode
cmake-build-debug
libmlx.dylib
screen.bmp

*.o
*.d

minilibx_mms_20200219/*.swiftdoc
minilibx_mms_20200219/*.swiftmodule
.idea

libft/*.o
libft/*.a

cub3D

cub3D.dSYM
libmlx.dylib.dSYM

.DS_Store